{% extends 'PyrexDupeBundle::base.html.twig' %}
{% macro bytesToSize(bytes) %}
    {% spaceless %}
        {% set kilobyte = 1024 %}
        {% set megabyte = kilobyte * 1024 %}
        {% set gigabyte = megabyte * 1024 %}
        {% set terabyte = gigabyte * 1024 %}

        {% if bytes < kilobyte %}
            {{ bytes ~ ' B' }}
        {% elseif bytes < megabyte %}
            {{ (bytes / kilobyte)|number_format(2, '.') ~ ' KB' }}
        {% elseif bytes < gigabyte %}
            {{ (bytes / megabyte)|number_format(2, '.') ~ ' MB' }}
        {% elseif bytes < terabyte %}
            {{ (bytes / gigabyte)|number_format(2, '.') ~ ' GB' }}
        {% else %}
            {{ (bytes / terabyte)|number_format(2, '.') ~ ' TB' }}
        {% endif %}
    {% endspaceless %}
{% endmacro %}
{% import _self as size %}
{% block body %}
    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-6">
    <a href="{{ path('dupe_index', {'groupId': group.id -1}) }}">Prev</a>
    </div>
    <div class="hidden-lg hidden-md col-lg-1 col-md-1 col-sm-6 col-xs-6">
        <a href="{{ path('dupe_index', {'groupId': group.id +1}) }}">Next</a>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-md-12">
                {{ group.extension }}
            </div>
            <div class="col-md-12">
                {% for file in group.dupeFiles %}
                    <div class="row">
                        {{ include('PyrexDupeBundle:File:file_line.html.twig', { 'file': file }) }}
                    </div>
                    <hr/>
                {% endfor %}
            </div>
        </div>
    {{ dump(group) }}
    </div>
    <div class="hidden-sm col-lg-1 col-md-1 col-sm-6 col-xs-6">
        <a href="{{ path('dupe_index', {'groupId': group.id +1}) }}">Next</a>
    </div>

{% endblock %}