<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet"
              href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">

    </head>
    <body>
    <div class="container">
        <div class="row">
            <div>
            </div>
            {% for flash_message in app.session.flashBag.get('error') %}
                <div class="flash-error">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashBag.get('success') %}
                <div class="flash-succes">
                    {{ flash_message }}
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-4">
                <ul>
                {% block leftMenu %}{% endblock %}
                {% if app.user is defined and is_granted('ROLE_ADMIN', app.user) %}
                    {% block adminLeftMenu %}
                    <li><a href="{{ path('user_list') }}" >User list</a></li>
                    {% endblock %}
                {% endif %}
                {% if app.user is defined and is_granted('ROLE_USER', app.user) %}
                        <li><a href="{{ path('app_media_index') }}">Media</a></li>
                        <li><a href="{{ path('logout') }}" >Logout</a></li>
                    {{ dump(app.user) }}
                {% else %}
                    <li><a href="{{ path('login') }}" >Login</a></li>
                    <li><a href="{{ path('register') }}" >Register</a></li>

                {% endif %}
                </ul>
            </div>
            <div class="col-lg-8">
                {% block body %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                footer
            </div>
        </div>
    </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
