<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% set pageTitle = 'page.title.' ~ app.request.attributes.get('_route') %}
        <title>{% block title %}{{ pageTitle|trans }}{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
        {# Bootstrap #}
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {#Bootstrap material design#}
        <link rel="stylesheet"
              href="{{ asset('assets/vendor/bootstrap-material-design/dist/css/bootstrap-material-design.css') }}">

        <link rel="stylesheet"
              href="{{ asset('assets/vendor/bootstrap-material-design/dist/css/ripples.min.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <style type="text/css">
            span.control-label {
                font-size: 12px;
                line-height: 1.07142857;
                font-weight: 400;
                margin: 16px 0 0 0;
                color: #BDBDBD;
            }
            body {
                padding-top: 70px;
            }
        </style>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Langue<span class="caret"></span></a>

                <ul  class="dropdown-menu">
                    <li><a href="#">FR</a></li>
                    <li><a href="#">EN</a></li>
                </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div>
            </div>
            {% for flash_message in app.session.flashBag.get('error') %}
                <div class="flash-error">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashBag.get('success') %}
                <div class="flash-succes">
                    {{ flash_message }}
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-2 sidebar">
                <ul class="nav nav-pills nav-stacked">
                {% block leftMenu %}{% endblock %}
                {% if app.user is defined and is_granted('ROLE_ADMIN', app.user) %}
                    {% block adminLeftMenu %}
                    <li class="{{ left_menu_class('user_list') }}"><a href="{{ path('user_list') }}" >User list</a></li>
                    {% endblock %}
                {% endif %}
                {% if app.user is defined and is_granted('ROLE_USER', app.user) %}
                        <li class="{{ left_menu_class('media_list') }}"><a href="{{ path('media_list') }}">Media</a></li>
                        <li class="{{ left_menu_class('logout') }}"><a href="{{ path('logout') }}" >Logout</a></li>
                {% else %}
                    <li class="{{ left_menu_class('login') }}"><a href="{{ path('login') }}" >Login</a></li>
                    <li class="{{ left_menu_class('register') }}"><a href="{{ path('register') }}" >Register</a></li>
                {% endif %}
                </ul>
            </div>
            <div class="col-lg-10">
                {% block body %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{dump(app)}}
                {{dump(app.request.attributes.get('_route'))}}
            </div>
        </div>
    </div>
    {% block javascripts %}
        <script src="{{ asset('assets/vendor/jquery/dist/jquery.js')}}"></script>
        <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.js')}}"></script>
        <script src="{{ asset('assets/vendor/bootstrap-material-design/dist/js/material.js')}}"></script>
        <script src="{{ asset('assets/vendor/bootstrap-material-design/dist/js/ripple.js')}}"></script>
        <script type="text/javascript">
            $.material.init();
        </script>
    {% endblock %}
    </body>
</html>
